<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: <%= upvote_percentage %>">
    <%= cached_scoped_like_votes_up %>
  </div>
  <div class="progress-bar bg-danger" role="progressbar" style="width: <%= downvote_percentage %>">
    <%= cached_scoped_like_votes_down %>
  </div>
</div>