<div class='text-center'>
  <h1>Coming soon</h1>
  <i class="far fa-gem fa-spin fa-3x"></i>
</div>
<%= render BooleanLabelComponent.new(value: 'abc') %>
<%= render BooleanLabelComponent.new(value: true) %>
<%= render BooleanLabelComponent.new(value: false) %>