@import "bootstrap";

// app background color
body { 
  background-color: AntiqueWhite; 
  word-break: break-all;
}

// bootstap links not underlined by default
a { text-decoration :none; }

// footer always on the bottom
html {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

// comments

.display-none {
  display: none;
}

.comment {
  margin: 1em 0em 1em 1em;
  padding-left: 1em;
  border-left: 2px solid lightgray;
}
