<% if form.object.errors.any? %>
  <div class='text-danger'>
    <ul>
      <% form.object.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
