<header id="header" class="header">
  <nav class="bg-white shadow-lg">
    <div class="container flex flex-wrap items-center justify-between px-2 py-3 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl">
      <div class="relative flex items-center justify-center justify-between w-3/12 lg:w-auto lg:static lg:block lg:justify-start lg:w-2/12">
        <%= link_to root_path, class:"flex items-center space-x-3" do %>
          <%= image_tag "favicon.ico", height: "20", alt: "logo", class: "inline-block align-top w-10" %>
          <h1 class="ml-1 text-2xl font-extrabold tracking-wide text-indigo-800 uppercase font-display">SupeRails</h1>
        <% end %>
      </div>
      <div class="relative flex-row flex-wrap items-center justify-center flex-grow w-9/12 h-full mr-0 lg:flex group lg:w-7/12">
        <ul class="flex items-center space-x-8 list-none lg:flex-row lg:ml-auto">
            <%= render navigation_links_partial_path %>
        </ul>
      </div>
    </div>
  </nav>
</header>
